.container {
  display: block;
  margin: 0 auto;
  width: max-content;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 10px 1px #000000;
}

.description {
  display: block;
  padding: 30px 50px 10px 50px;
  width: max-content;
  background-color: #f0f2e4;
}

.avatar {
  display: block;
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.name,
.tag,
.location {
  display: block;
  margin: 0px auto 10px auto;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.tag,
.location {
  font-size: 16px;
  font-weight: 500;
  color: gray;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #8db1b5;
  border-top: 1px solid #8db1b5;
}

.stats > li {
  display: grid;
  grid-auto-rows: minmax(36px, auto);
  background-color: #d2dac2;
}

.label,
.quantity {
  justify-self: center;
  padding: 2px 0;
  font-size: 14px;
}
.label {
  align-self: end;
  font-weight: 500;
  color: gray;
}

.quantity {
  align-self: start;
  font-weight: 700;
}
